conf.env
venv/
.idea
__pycache__
tvip/
data/
*.sqlite
/cards/
.vscode/
**/.env
.python-version
*.code-workspace

/viewer/layers/
/scripts/supertopics/aggregated_topics_quarterly_bars_concentration.ipynb
/scripts/topic_vis/myplot.png
/scripts/geo/topic_map/
*.json
*.jsonl
*.html
*.png
*.npy
*.csv
*.yaml
*.xlsx
*.mp4
*.gif
*.svg
*.txt
*.ods
