pydantic[dotenv]==1.10.4
email-validator==1.3.0
setuptools==66.0.0
searchtweets-v2==1.1.1
transformers==4.25.1
sentence-transformers==2.2.2
hnswlib==0.6.2
scipy==1.10.0
torch==1.13.1
typer==0.7.0
SQLAlchemy==2.0.0b4
matplotlib==3.6.3
streamlit==1.17.0
kaleido==0.2.1
-e git+ssh://git@gitlab.pik-potsdam.de/mcc-apsis/nacsos/nacsos-data.git@7d30494430069b4fdd9f72292a6b72fcd7d6a663#egg=nacsos_data